<div class="container">
    <app-header>
        <SPAN title>Employees</SPAN>
        <span description>List of Your Employees</span>
    </app-header>
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col"> Date of birth</th>
                    <th scope="col">Position</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.dateOfBirth | date: 'shortDate'}}</td>
                    <td appManager="yellow" [ngClass]="workerClass(employee.position)">{{ employee.position |
                        positionUppercased}}</td>
                    <td [ngClass]="{'high-salary': employee.salary > 3500}">{{ employee.salary | currency}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Add a new Employee</h1>
                <form [formGroup]="employeeForm">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label>First name</label>
                            <input formControlName="firstName" type="text" class="form-control"
                                placeholder="First name" />
                        </div>
                        <div class="col-sm-4">
                            <label>Last name</label>
                            <input formControlName="lastName" type="text" class="form-control"
                                placeholder="Last name" />
                        </div>
                        <div class="col-sm-4">
                            <label>Date of birth</label>
                            <input formControlName="dateOfBirth" type="date" class="form-control"
                                placeholder="Date of birth" />
                        </div>
                        <div class="col-sm-4">
                            <label>Position</label>
                            <input formControlName="position" type="text" class="form-control" placeholder="Position" />
                        </div>
                        <div class="col-sm-4">
                            <label>Salary</label>
                            <input formControlName="salary" type="number" class="form-control" placeholder="Salary" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button [disabled]="employeeForm.invalid" class="btn btn-primary float-right"
                                (click)="addEmployee()">
                                Submit
                            </button>
                            <button class="btn btn-default float-right" (click)="employeeForm.reset()">
                                Reset your form
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>